@model List<UrbanGadgetsMS.Models.Product>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-4 text-danger">
    Out Of Stock Products
</h2>

@if (!Model.Any())
{
    <div class="alert alert-success">
        🎉 No out-of-stock products. Everything is stocked!
    </div>
}
else
{
    <div class="table-responsive">

        <table class="table table-bordered table-hover">

            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Category</th>
                    @* <th>Selling Price</th> *@
                </tr>
            </thead>

            <tbody>
                @{
                    int no = 1;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@no</td>

                        <td class="fw-semibold text-black">
                            @item.ProductName
                        </td>

                        <td>
                            <span class="badge bg-secondary">
                                @item.Category?.CategoryName
                            </span>
                        </td>

                        @* <td class="fw-bold text-danger">
                            UGX @item.Price.ToString("N0")
                        </td> *@
                    </tr>

                    no++;
                }
            </tbody>

        </table>

    </div>
}